.wrapper {
  height: 100vh;
}

.logo {
  animation: logo-anim 2 3s ease-in-out;
}

@keyframes logo-anim {
  0% { opacity: 1; }
  50% { opacity: .1; }
  100% { opacity: 1; }
}

:global .ant-layout-sider {
  padding-top: 1rem;
}

.content {
  margin: 16px;
}

.footer {
  text-align: center;
}
