@import "sanitize.css";
@import "https://fonts.googleapis.com/css?family=Changa";
@import "https://fonts.googleapis.com/css?family=Alegreya";

:global {
  .ant-input-group .anticon {
    color: rgba(0, 0, 0, .25);
  }

  .github-corner:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out;
  }
}

@keyframes :global(octocat-wave) {
  0%,
  100% {
    transform: rotate(0);
  }
  20%,
  60% {
    transform: rotate(-25deg);
  }
  40%,
  80% {
    transform: rotate(10deg);
  }
}

@media (max-width:500px) {
  :global {
    .github-corner:hover .octo-arm {
      animation: none;
    }
    .github-corner .octo-arm {
      animation: octocat-wave 560ms ease-in-out;
    }
  }
}
