.column {
  >button {
    margin-top: .5rem;
    margin-left: auto;
    display:block;
  }

  input {
    margin: .3rem 0;
  }
}

.verifyForm {
  >button, button[disabled] {
    margin-top: .2rem;
    margin-right: auto;
    display:block;
  }
}
